
/* newCustomer Css */

.bg-img{
    background-image: url('../assets/bg.jpg');
  background-color: #cccccc;
  height: 100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}
/* input.ng-invalid, select.ng-invalid {
  border: 1px solid red;
} */
  /* .input-field {
    position: relative;
    margin:15px 0px;
  } */
  /* .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  .label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
    display: inline;
  }
  .input {
    width: 100%;
    cursor: pointer;
    outline: 0;
    padding: 0.7rem 0.3rem;
    border: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;

  }

  .input:focus,
  .input:valid {
    border-color: #58b166;
  }
  .input:focus~.label,
  .input:valid~.label {
    font-size: 14px;
    top: -12px;
    background: white;
    color: #00dd22;
  }
  .custom-file-upload {    
    border-radius: 25px;
    padding: 7px 12px;
    color:white;
    font-size: 14px;
    display: block;
    text-align: center;
    cursor: pointer;
    background: #0099ff;
    -webkit-box-shadow: 0 5px 3px -3px #808080;
     -moz-box-shadow: 0 5px 3px -3px #808080;
    box-shadow: 0 5px 3px -3px #808080;
} */

/* input[type="file"] {
  display: none;
} */
/* .title{
  font-size: 17px;
  font-weight:550;
  color: white;
}
.title1{
  font-size: 14px;
  color: rgb(153, 153, 153);
  padding: 7px 12px;
  font-weight:550;
border:1px solid rgb(179, 179, 179)
} */
.navbar{
  background-color: #85e3ff;
}